
/* Course List */


.course-container .container{
    margin-top: 100px;


    padding: 40px 32p;
    margin-bottom: 60px ;

    box-shadow: 0 8px black;
    padding-bottom: 60px;

    display: flex;
    gap: 40px

}

.course-list {
    display: flex;
    flex-direction: column;

    

    gap: 10px;
}

.course-container h2 {
    font-size: 28px;
    margin-bottom: 20px;

    margin-left: 20px;
    color: var(--nav-color);
}

.course-list .cards-container {
    display: flex;
    align-items: center;

    gap: 5px;

    margin-left: 50px;
}

.cards-container a img {
    height: 160px;
    width: 100%;
    object-fit: cover;

}

.course-content {

    padding: 0 10px;

}

.label {
    background: var(--thr-color);
    padding: 3px 6px;
    border-radius: 4px;
    width: fit-content;
}

.labels a {
    color: white;
    font-weight: 500;
    font-size: 11px;
    
    text-transform: uppercase;
    letter-spacing: 3px;

}

.course-info {
    display: flex;
    flex-direction: row;
    gap: 5px;

    margin: 5px 0;
}

.course-content h2 {
    margin: 0;

    color: var(--nav-color);
}



