
.heading-section {
    height: 300px;
    
    background-color: #e5cdc884;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 5px;
}

.heading-section img {
    object-fit: cover;
    height: inherit;
}

.heading-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.heading-title {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}

.heading-content a {
    font-size: 20px;
}

.heading-content a:hover {
    text-decoration: underline;
}


.banner {
    height: 150px;
    background-color: var(--nav-color);

    display: flex;
    justify-content: center;
    text-align: center;
}

.banner-title {
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;

    height: 150px;
    padding: 0 10px;

    font-size: 45px;
    font-weight: 600;

    color: white;
}

.banner-title span {
    font-family: var(--title-font);
}

.recommed-course-section {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding-top: 15px;
}

.recommended-container {
    border-radius: 10px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    
    gap: 15px;
    padding: 30px 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.recommeded-course-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center; 
}

.video-card {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.video {
    all: unset;

    background-color: var(--sec-color);
    color: white;

    width: 250px;
    height: fit-content;
    padding: 10px;
    font-weight: 600;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.video img {
    object-fit: cover;
    height: fit-content;
    width: inherit;
}

.video::after {
    content: "";
    width: 5px;
    height: 5px;

    border-width: 0 3px 3px 0;
    border-style: solid;
    transform: rotate(45deg);
    transition: 0.4s ease;

    margin: 5px 0 0 0;
    color: black;
    
}

.decription {
    background-color: wheat;
    color: var(--txt-color);
    height: 0;
    overflow: hidden;
    transform: translateY(-5%);

    border-radius: 0 0 5px 5px;


    
}

.decription .info {
    display: flex;
    flex-direction: row;

    gap: 5px;
}

.info-desc {
    display: flex;
    gap: 2.5px;
}

.decription h3, .decription h4, .decription p {
    max-width: 250px;
}

.decription img {
    height: 20px;
    width: fit-content;
    object-fit: cover;
}

.video:focus::after, .video:hover::after {
    transform: rotate(225deg);
}

.video:hover   ~ .decription, .video:focus ~ .decription, .decription:hover {
    height: 115px;
    transition: 0.5s ease;

    padding: 10px 0 0 10px;
}

/* .video:hover ~ .recommended-container, video:focus ~ .recommended-container {
    height: 40vh;

    transition: 0.5s ease;
} */



/* Course List */

.course-section {
    background-color: var(--sec-color);
    margin: 20px 40px;
    padding-top: 10px;
    border-radius: 10px;
}


.course-section .container{


    margin: 10px 40px 60px 50px;
    padding: 40px 32p;

    box-shadow: 0 8px black;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    gap: 24px

}

.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

    gap: 30px;
}

.course-container h2 {
    font-size: 28px;
    margin-bottom: 20px;

    margin-left: 20px;
    color: var(--nav-color);
}

.course-list .cards-container {
    display: flex;
    align-items: center;

    gap: 5px;

    margin-left: 20px;
    max-width: 500px;
    padding: 15px;
    border-radius: 10px;

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.644);

}

.cards-container:hover {
    background-color: var(--nav-color);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.441);
    color: white;
}

.cards-container:hover h2 {
    color: white;
}

.cards-container a img {
    height: 180px;
    width: fit-content;
    object-fit: cover;

}

.course-content {

    padding: 0 10px;

}

.labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.label {
    background: var(--thr-color);
    padding: 3px 6px;
    border-radius: 4px;
    width: fit-content;
}

.labels a {
    color: white;
    font-weight: 500;
    font-size: 11px;
    
    text-transform: uppercase;
    letter-spacing: 3px;

}

.course-info {
    display: flex;
    flex-direction: row;
    gap: 5px;

    margin: 10px 0 0 0;
}

.course-info img {
    width: fit-content;
    height: 18px;

    display: flex;
    align-items: center;
    align-items: center;
}

.course-content h2 {
    margin: 0;

    color: var(--nav-color);
}




@media (max-width: 880px) {
    .heading-section {
        height: fit-content;
    }

    .heading-section img {
        width: 100px;
    }

    .banner-title {
        text-align: center;
    }

    .recommended-container {
        padding: 15px 0;
        margin: 0 15px;
    }

    

    
}


@media (max-width: 700px) {
    .heading-section {
        height: 150px;
    }

    .heading-picture {
        display: flex;
        justify-content: flex-end;

        height: 70px;
    }

    .heading-section .heading-picture img{
        height: auto;
        width: 50px;
    }

    .heading-title {
        text-align: center;
        font-size: 25px;
    }
    .recommended-container {
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: flex-start; */
        align-items: center;
        min-height: 80vh;
        max-width: 95%;
        /* padding: 20px 10px; */
        margin: 0;
    }

    .banner-title {
        font-size: 30px;
    }

    .video-card {
        justify-content: center;
        max-width: 350px;

        margin-bottom: 5px;
    }

    .recommeded-course-title {
        font-size: 24px;
        padding: 20px;
    }

    .video {
        max-width: 350px;
    }


    .video:hover   ~ .decription, .video:focus ~ .decription, .decription:hover {
        height: fit-content;
        padding-bottom: 10px;
        transition: 0.5s ease;

        padding: 10px 0 0 10px;
    }

    .info {
        margin-bottom: 10px;
    }


    .banner {
        height: fit-content;
    }

    .course-section .container {
        margin-left: 40px;
    }

    .course-list .cards-container {
        flex-direction: column;
        justify-content: center;
        margin-left: 0;

        font-size: smaller;
    }
}

@media (max-width:450px ) {
    .heading-title {
        text-align: center;
        font-size: 14px;
    }
    .heading-content a h5{
        font-size: 10px;
    }
}

