@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Outfit:wght@100..900&display=swap');

:root {
  --bg-color: #FFFDF2;
  --txt-color: #2D3436;
  --nav-color: #2C3E50;
  --sec-color: #E5CDC8;
  --thr-color: #d63031;
  --text-box-before: #979797;

}





* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

.navbar {
    background-color: var(--nav-color);
    font-family: "Outfit", "sans-serif";

    display: flex;
    align-items: center; /*cross axis*/
    justify-content: center; /*main axis*/

    position: sticky;
    top: 0;

    height: 55px;
    width: 100%;

    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.475);

    /* biar selalu diatas */
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    /* agar tetap bagus di layar gede */
    max-width: 1600px;
    padding: 0 25px;
    
    
}

#logo-title {
    color: var(--sec-color);
}

.navbar-logo {
    color: var(--sec-color);
    font-size: 35px;
    font-family: "Mansalva", sans-serif;

    white-space: nowrap;

}

.navbar-container .navbar-menu {
    display: flex;
    flex-direction: row;

    text-align: center;
    gap: 20px;
    margin-left: 20px;

    list-style: none;
}

.navbar-container .navbar-menu li a {
    display: flex;
    

    text-decoration: none;
    color: var(--bg-color);

    font-size:20px;
    font-weight: 500; 

    padding: 3px 10px;

    border-radius: 20px;
    border: 2px solid transparent;
    
    /* biar kaga mungkin dia bisa wrap in newline*/
    white-space: nowrap;

    transition: all 0.7s ease;
}

.navbar-container .navbar-menu li a:hover {
    background-color: var(--bg-color);
    border: 2px solid white;

    color: black;

}

.register-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    

    width: 250px;
    min-width: 50px;
    gap: 10px;
    
}

nav .register-container button {
    width: 100px;
    height: 35px;

    color: var(--bg-color);
}

nav .register-button:focus, .register-button:hover {
    color: var(--bg-color);
}



/* bikin burger menu di mobile */
.navbar-toggle {
    /* buat dia jadi gak keliatan di layar gede */
    display: none;

    background: transparent;
    padding: 10px;

    border: none;

    cursor: pointer; /*make it clickable*/
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: white;

    transition: all 0.3s ease-in-out;
}



/* FOOTER SECTION */
.footer-section {
    background-color: var(--nav-color);
    color: white;

    padding-top: 20px;

    min-height: 200px;
    width: 100%;

    gap: 100px;

    font-family: "Outfit", "sans-serif";
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.company-detail-coloumn h3 {
    font-family: "Mansalva", sans-serif;
    font-size: 25px;
}

.company-detail-coloumn h4 {
    font-weight: 400;
}

.footer-section a {
    font-style: none;
    color: white;
}

.about-coloumn a {
    text-decoration: underline;
}

.footer-section .products-coloumn ul li {
    text-decoration: underline;
    list-style: none;
}

.location {
    display: flex;
    flex-direction: row;

    height: fit-content;
    width: fit-content;

    margin: 10px 0;
}

#location-logo {
    width: fit-content;
    height: 25px;

    transition: 0.3s ease;

    margin-right: 5px;
}

.phone {
    display: flex;
    flex-direction: row;
}

#phone-logo {
    width: fit-content;
    height: 25px;

    transition: 0.3s ease;

    margin-right: 5px;
}

#instagram-logo, #youtube-logo {
    width: fit-content;
    height: 30px;

    margin-top: 5px;
}

.copyright {
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    font-size: smaller;
}





/* buat untuk layar 700 - 785 */
@media (max-width: 785px) and (min-width: 700px) {
    .navbar-container .navbar-menu {
        gap: 10px !important;
    }

    .navbar-container .navbar-menu li a {
        font-size: 16px;
        padding: 3px 8px;
    }

    .register-container {
        width: 180px;
        gap: 5px;
    }

    nav .register-container button {
        width: 80px;
        height: 30px;
        font-size: 13px;
    }

    .navbar-logo {
        font-size: 28px;
    }
}

/* buat untuk layar < 700 */
@media (max-width: 700px) {
    .navbar {
        backdrop-filter: none;
        /* box-shadow: none; */
    }


    /* buat menu jadi vertikal kalau di hp */
    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        
        position: absolute;
        
        gap: 20px !important;
        height: 250px;
        /* top: 50px; */
        right: 0;
        margin-top: 100px;
        padding: 250px 1.5rem;

        background-color: #2c3e50cb;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);

        /* urutan nya selalu sama ATAS KANAN BAWAH KIRI sesuai arah jarumjam */
        border-radius: 0 0 0 10px;


    }

    .navbar-container .navbar-menu.active {
        transition: 0.3s ease-in;
        display: flex;
        align-items: flex-end;
    }

    .navbar-toggle {
        display: block;
        /* untuk tetap diatas */
        z-index: 999;
    }


    /*ganti jadi bentuk x kalau active*/
    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .footer-section {
        height: 400px;
    }

    .footer-section .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        height: 350px;
        gap: 10px;


    }

    .company-detail-coloumn {
        height: fit-content;

        text-align: center;
    }

    .about-coloumn {
        margin-top: 1;
    }

    .copyright {
        margin-top: 0;
    }



    
}