
@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Outfit:wght@100..900&display=swap');

:root {
  --bg-color: #FFFDF2;
  --txt-color: #2D3436;
  --nav-color: #2C3E50;
  --sec-color: #E5CDC8;
  --text-box-before: #979797;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

    background-color: var(--bg-color);
    
    transition: ease 0.3s;
}

.opening {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    color: var(--txt-color);
    font-size: 50px;
    
}



.title {
    font-family: "Outfit", sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

section {
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.pict-container {
   display: flex;
    align-items: center;
    justify-content: center; 
}

#atom-gif {
    
    top: 50%; 
    left: 50%;  
    width: 100px;
    pointer-events: none;
}

.kotak-tengah {
    background-color: rgb(229, 205, 200); /* var(--sec-color) with opacity */
    padding: 20px 50px;
    border-radius: 20px;
    
}

.form-text {
    position: relative;
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    color: var(--txt-color);
    display: flex;
    align-items: center;
    margin: 25px 10px;
}

.gender-form {
    position: relative;
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    color: var(--txt-color);
    display: flex;
    align-items: center;
    margin: 25px 10px;
}

.gender-form i {
    position: relative;
    left: 15px;
    font-size: 24px; 
}

.gender {
    position: relative;
    left:20px; 
    font-size: 16px;

}

.gender-option {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.list-gender {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: var(--txt-color);

    display: flex;
    position: relative;
    margin-left: 5px;
}

.list{
    position: relative;
    display: flex;
    flex-direction: row;

    margin-left: 10px;
}

/* khusus buat date of birth */
.text-box[type="date"] {
    color: transparent;
}



.text-box[type="date"]:focus,
.text-box[type="date"]:valid {
    color: var(--txt-color);
}

.text-box[type="date"]:focus::-webkit-calendar-picker-indicator,
.text-box[type="date"]:valid::-webkit-calendar-picker-indicator {
    opacity: 1;
}

.form-text i {
    position: absolute;
    left: 15px;
    font-size: 24px; 
}


.text-box {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent; /* background tidak menutupi label */
    padding: 0 20px 0 50px; /* Padding kiri agar tidak nabrak Icon */
    border: 2px solid var(--text-box-before);
    border-radius: 20px;
    outline: none;
}

.text-box:focus, .text-box:valid {
    border-color: var(--nav-color);
    transition: 0.3s ease;
}

.text-box:focus ~ label,
.text-box:valid ~ label {
    top: 0;
    left: 45px; 
    font-size: 14px; 
    background-color: rgb(229, 205, 200);
    z-index: 10; /*diatas border*/
}



.form-text label {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%); /*ditengah vertikal*/
    padding: 0 5px;
    background-color: rgba(229, 205, 200, 0.7); /* match kotak-tengah */
    transition: 0.3s ease;
    pointer-events: none; /*kalau label diklik, tembus ke input */
    color: var(--txt-color);
    font-size: 16px;
}


/* Untuk Logo Matanya */
#eye-icon {
    position: absolute;
    left: 85%;
    cursor: pointer;
    opacity: 0;
}

.text-box:focus ~ #eye-icon,
.text-box:valid ~ #eye-icon {
    opacity: 1;
}

a {
    text-decoration: none;
}


.terms-container {
    position: relative;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: var(--txt-color);
    display: flex;
    align-items: center;
    margin: 25px 5px;
}

.terms-text {
    margin-left: 10px;
}

.regist-button {
    width: 100%;
    height: 55px;

    box-shadow: 0 2px 5px black;
    border-radius: 20px;
    border: 2px solid var(--nav-color);

    background-color: var(--nav-color);
    color: var(--bg-color);

    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    transition: 0.3s ease all;
    z-index: 1;
}

.regist-button:before {
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: white;

    border-radius: 20px;
   
    z-index: -1;

}


.regist-button:hover, .regist-button:focus {
    color: #ffffff;
    box-shadow: 0 2px 10px black, 0 3px 6px black;
    border-radius: 20px;
    border: 2px solid var(--nav-color);
    color: var(--nav-color);

    
}

.regist-button:hover:before, .regist-button:focus:before {
    transition: 0.5s all ease;
    left:0;
    right: 0;
    opacity: 1;
}

.regist-button:active {
    transform: scale(0.9);
}



@media (max-width: 700px) {
    body {
        padding: 30px;
    }
    .kotak-tengah {
        padding: 10px 10px;
        border-radius: 10px;
        width: 95vw;
        max-width: 400px;
    }
    .title {
        font-size: 22px;
    }
    .form-text {
        font-size: 16px;
        margin: 10px 0;
    }
    .gender-form {
        font-size: 16px;
        margin: 10px 0;
    }
    .list-gender {
        font-size: 14px;
    }
    #atom-gif {
        width: 60px;
    }
    .regist-button {
        height: 40px;
        font-size: 16px;
        border-radius: 10px;
    }
    .terms-container {
        font-size: 12px;
        margin: 10px 0;
    }
    .form-text label {
        font-size: 12px;
        left: 40px;
        padding: 0 3px;
    }
    .form-text i {
        font-size: 18px;
        left: 10px;
    }
    .text-box {
        height: 40px;
        font-size: 14px;
        border-radius: 10px;
        padding: 0 10px 0 35px;
    }
    #eye-icon {
        left: 80%;
        font-size: 18px;
    }
}